@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-color: white;
}

.action{
  position: absolute;
  top: 5px;
  right: 55px;
}

.action .profile{
  display: flex;
	align-items: center;
  position: relative;
  width: 39px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-right: 98px;
  
}
.action .menu{
  position: absolute;
  top: 87px;
  right: -11px;
  padding: 10px 20px;
  background-color: rgb(235, 231, 231);
  width: 150px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}



.action .menu.active{
  visibility: visible;
  opacity: 2;
}

.action .menu::before{
  content: '';
  position: absolute;
  top: -7px;
  right: 122px;
  width: 15px;
  height: 20px;
  background-color: rgb(235, 231, 231);
  transform: rotate(39deg);
}


.action .menu h3{
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
  font-weight: 1000;
  font-size: 22px;
  line-height: 0.8em;
}
.action .menu h3 span{
  font-size: 14px;
  text-align: center;
  color: #676262;
  font-weight: 400;
}

.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover img{
  opacity: 1;
}
.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.action .menu ul li:hover a{
  color: #ff5d94;
}

.imgContact img{
  width: 40%;
    position: absolute;
    margin-left: 600px;
    margin-top: 170px;
    border-radius: 8px;
}


.input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type=submit]:hover {
  background-color: #45a049;
}

.centerdiv{
  margin-right: -240px;
    margin-top: -17px;
    display: flex;
}

.centerdiv a{
  margin: 20px;
  height: 47px;
  width: 46px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  box-shadow: 1px 4px 2px 2px #dcdde1;
  line-height: 64px;
  
}

.centerdiv a i{
  justify-content: center;
  transition: all 0.2s linear;
}

.centerdiv a:hover i{
  transform: scale(1.2);
}

.fa-instagram{
  color: #e84393;
}

.fa-github{
  color: #000000;
}


.wrapper{
  position: absolute;
  top: 60%;
  left: 28%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(171,162,129,1); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}



.wrapper .btn-submit input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}






#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.footer {
  margin-top: 700px;
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
}